repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff check
        language: system
        types: [python]
        args: [ --fix ]

      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format
        language: system
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.9.0"
    hooks:
      - id: mypy
        entry: dmypy
        additional_dependencies: [
          databricks-sdk==0.28.0,
          delta-spark==3.1.0,
          hydra-core==1.3.2,
          idna==3.4,
          importlib-metadata==6.0.0,
          ipython==8.23.0,
          mypy==1.9.0,
          mypy-extensions==1.0.0,
          packaging==21.3,
          pandas==2.2.2,
          pandas-stubs==2.2.2.240807,
          pytest==7.4.4,
          py4j==0.10.9.7,
          pyparsing==3.0.9,
          pyspark==3.5.1,
          python-dotenv==1.0.1,
          requests==2.31.0,
          tomli==2.0.1,
          types-python-dateutil==2.8.19.7,
          types-pytz==2022.7.1.0,
          types-PyYAML==6.0.12.7,
          types-requests==2.31.0.20240406,
          types-urllib3==1.26.25.6,
          typing_extensions==4.12.2,
        ]
        args: [ "run", "--", "--warn-unused-ignore", "--config-file=pyproject.toml", "--cache-fine-grained" ]