repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: poetry run ruff check
        language: system
        types: [python]
        args: [ --fix ]

      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: poetry run dmypy
        require_serial: true
        language: system
        types: [ python ]
        args: [ run, -- ]
